@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:400,700';



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none; /*da korisnik ne moze da selektuje sadrzaj prelaskom kursora*/
    transition: .2s linear;
}

body {
    font-family: "Poppins", sans-serif;
    --color1: rgb(255, 126, 147)  ;
    --color2: #ffffff ;
}



nav{
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.nav-bar {
    width: 95%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    
    padding: 12px 20px;
    z-index: 1000;
    
}

.logo img {
    margin-left: 60px;
    height: 60px;
}

.menu {
    display: flex;
   
    
}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {width: 100%;}

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}


.home{
    background-image: url(../slike/italian-berry-mascarpone-cake-193616-2.jpg);
    min-height: 300px;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
  

}

.home  h1{
    padding-top: 120px;
    font-family: 'Monnserat', sans-serif;    
    letter-spacing:3px;       
    font-size: 6rem;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    text-align: center;

}

.home2{
    
    min-height: 600px;    
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}








.footer{
    padding-top: 40px;
    background-color: rgb(255, 126, 147);
    text-align: center;
}

.footer .share{
    padding: 10px 0;
}

.footer .share a{
   
    font-size: 30px;
    color: rgb(255, 255, 255) ;
    margin: 10px;

}

.footer .share a:hover{
    
    color: #ffdd00;
    transition: linear 0.1s;
}


.footer .credit{
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    padding:1.5rem;
    color: rgb(255, 255, 255)
}




.container{
  background:rgb(255, 126, 147);
  width: 900px;
  height: 650px;
  margin: 5% auto;
  display: flex;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
  
.map{
    width: 45%;
    float: left;
  }

.contact-form{
    width: 53%;
    margin-left: 2%;
    float: right;
    
}

.title{
      font-size: 2.5em;
      font-family: 'Libre Franklin', sans-serif;
      font-weight: 550;
      color: rgb(255, 255, 255);
      margin: 5% 8%;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    


input, textarea{
    width: 330px;
    padding: 3%;
    margin: 2% 8%;
    color: #000000;
    border: 1px solid #737373;
      
}
    
textarea{
    resize: none;
}

::placeholder {
    color: rgb(255, 126, 147);
}

.btn-send{
      
    background: rgb(255, 255, 255);
    width: 180px;
    height: 60px;
    color: rgb(255, 126, 147);
    font-size: 20px;
    font-weight: 600;
    margin: 2% 8%;
    border: none;
}

.btn-send:hover{
    background: rgb(194, 194, 194);
    transition: 0.1s;
}



@media(max-width: 950px){

    .home2{
        margin-bottom: 300px;
    }


    input, textarea{
        width: 80%;
        margin: auto;
        
      }

    .home2{
        min-height: 900px;
    }

    form{

        text-align: center;
        display: inline-block;
    }

    

    .dugme{
        
        display: flex;
        justify-content: center;
        align-items: center;

    }

   

    .home2 .container .contact-form{
        padding-top: 5px;
        border-top: 15px solid rgb(255, 255, 255);
        margin: auto;
        width: 100%;
        background-color: rgb(255, 126, 147);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    }

    .home2 .container .contact-form .title{
        text-align: center;
    }

    .home2 .container .contact-form .center {
        display: flex;
        justify-content: center;
        align-items: center;
      }


    .home2 .container .contact-form form input{
        margin: 5px 5px;
        padding-bottom: 10px;
    }

    .home2 .container .contact-form form textarea{
        margin: 5px 5px;
    }


    .home2 .container .map{
        display: flex;
        width: 100%;
        height: 350px;
    }
    
    

    .home2 .container {
        margin: auto;
        flex-direction: column;
    }
    
    .home2 .container{
        display: flex;
        width: 80%;
    }

    .home2{
        padding-bottom: 160px;
    }
}



@media(max-width: 610px){

    .home2{
        margin-bottom: 100px;
    }

    
    

    .home{
        min-height: 150px;
        
    }
    
    .home h1{
        padding-top: 120px;
        font-size: 60px;
    }
      
    .logo img {
        margin-left: 0px;
    }

    

    
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }

    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}